<!DOCTYPE html>
<head>
    <title>My Awesome Site</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body class="font-primary">
    <header>
        <h1 class="font-secondary header-title text-center mb-8">АНАЛИЗАТОР</h1>
    </header>
    <main>
        <h2 class="text-center mb-20">проанализируйте состав продукта, отсканировав штрих-код</h2>
        <img class="blob-mobile" src="{% static 'svg/mobile.svg'%}">
        <div class="buttons">
            <button class="btn color-white bg-blue mb-4 transform-scale slide-left">сканировать</button>
            <button class="btn color-white bg-purple transform-scale slide-right">загрузить фото</button>
        </div>
    </main>
</body>
</html>
