.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 3rem 6rem;
    border: 0;
    border-radius: 16px;
    font-size: 4.8rem;
    font-family: 'Oswald', Helvetica, sans-serif;
    width: fit-content;
    cursor: pointer;
}

.desktop-blobs-container {
    max-width: 1024px;
    width: 100%;
    margin: 4rem auto 0;
    position: relative;
}

.blob-desktop {
    max-width: 500px;
    position: absolute;
    z-index: -1;
    transition: transform .6s ease;
}

.blob-desktop._first {
    top: 0;
    left: 10%;
    animation: slideRight 1s ease;
}

.blob-desktop._second {
    top: 0;
    right: 10%;
    animation: slideLeft 1s ease;
}

.blob-mobile {
    position: fixed;
    top: 75%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: slideIn 1s ease;
}

.transform-scale {
    transition: transform .4s ease;
}

.transform-scale:hover,
.transform-scale:focus {
    transform: scale(1.1);
}

.color-white {
    color: #fff;
}

.color-yellow {
    color: #ffffaf;
}

.bg-blue {
    background: #5F87AF;
}

.bg-purple {
    background: #5F5F87;
}

.slide-left {
    animation: slideLeft .8s ease;
}

.slide-right {
    animation: slideRight .8s ease;
}

.mobile-only {
    display: none;
}

.btn-text {
    background: transparent;
    padding: 2rem;
    border: 0;
    font-size: 3.6rem;
    position: absolute;
}

.btn-text:hover + .blob-desktop {
    transform: scale(1.1);
}

.btn-text._first {
    top: 115px;
    left: 15%;
}

.btn-text._second {
    top: 165px;
    right: 15%;
}

@keyframes slideIn {
    0% {
        transform: translate(-70%, -70%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-20%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(20%);
    }

    100% {
        transform: translateX(0);
    }
}
