@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald.ttf') format('opentype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato.ttf') format('opentype');
    font-weight: normal;
    font-size: normal;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background: #1c1c1c;
    color: #fff;
    font-size: 2.2rem;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.text-center {
    text-align: center;
}

.font-primary {
    font-family: 'Lato', Arial, sans-serif;
}

.font-secondary {
    font-family: 'Oswald', Helvetica, sans-serif;
}

@media (max-width: 1440px) {
    /* код для десктопа */
}

@media (max-width: 360px) {
    /* код для мобилы */
}
