@font-face {
    font-family: 'Oswald';
    src: url('/static/fonts/Oswald.ttf') format('opentype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/Lato.ttf') format('opentype');
    font-weight: normal;
    font-size: normal;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background: #1c1c1c;
    color: #fff;
    font-size: 2.2rem;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.text-center {
    text-align: center;
}

.font-primary {
    font-family: 'Lato', Arial, sans-serif;
}

.font-secondary {
    font-family: 'Oswald', Helvetica, sans-serif;
}

header {
    padding: 1.6rem 0;
    color: #ffffaf;
    font-size: 3.2rem;
}

h2 {
    font-size: 4.2rem;
    padding: 4rem 0;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-8 {
    margin-bottom: 8rem;
}

.mb-20 {
    margin-bottom: 20rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 3rem 6rem;
    border: 0;
    border-radius: 16px;
    font-size: 4.8rem;
    font-family: 'Oswald', Helvetica, sans-serif;
    width: fit-content;
    cursor: pointer;
}

.blob-mobile {
    position: fixed;
    top: 75%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: slideIn 1s ease;
}

.transform-scale {
    transition: transform .4s ease;
}

.transform-scale:hover,
.transform-scale:focus {
    transform: scale(1.1);
}

.color-white {
    color: #fff;
}

.bg-blue {
    background: #5F87AF;
}

.bg-purple {
    background: #5F5F87;
}

.slide-left {
    animation: slideLeft .8s ease;
}

.slide-right {
    animation: slideRight .8s ease;
}

@media (max-width: 1440px) {
    /* код для десктопа */
}

@media (max-width: 360px) {
    /* код для мобилы */
}

@keyframes slideIn {
    0% {
        transform: translate(-70%, -70%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-20%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(20%);
    }

    100% {
        transform: translateX(0);
    }
}
